<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.lpl.kled.dao.systems.PowerDao">
	<select id="getPowerByLevel" resultType="com.lpl.kled.dto.MenuSecurity">
	    select * from tb_power where level = #{level}
	</select>	
    
    
    <select id="getPowerByRoleId" resultType="com.lpl.kled.entity.systems.Power">
	    select p.* from tb_power p left  join tb_role_power rp on p.id=rp.powerid  where rp.roleid = #{roleId}
	</select>
	
	<select id="getPowerList" resultType="com.lpl.kled.entity.systems.Power">
	    select * from tb_power
	</select>
	
	<!-- 角色权限关系 start -->
	<insert id="createRolePower">
	    INSERT INTO tb_role_power (roleId,powerId) 
                   VALUES (#{roleId},#{powerId})  
	</insert>
	<delete id="delUserRoleByUserId">
	    delete from tb_role_power where roleId = #{roleId}
	</delete>
	<!-- 角色权限关系 end -->
</mapper>