<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.lpl.kled.dao.systems.RoleDao">
	<select id="getRoleByUserId" resultType="com.lpl.kled.entity.systems.Role">
	    select r.* from tb_role r left  join tb_user_role ur on r.id=ur.roleid  where ur.userid = #{userId}
	</select>	
    
    <select id="getPaginationList" resultType="com.lpl.kled.entity.systems.Role" parameterType="java.util.HashMap">
	    select * from tb_role where 1=1 
	    <if test="name != null and name != ''">
	        and name like concat('%',#{name},'%') 
	    </if>
	     limit #{startLimit},#{endLimit}
	</select>
	<select id="getPaginationCount" parameterType="Object" resultType="Long">
		select count(1) from tb_role where 1=1
 		<if test="name != null and name != ''">
	        and name like concat('%',#{name},'%') 
 	    </if> 
	</select>
	
	<insert id="createUserRole">
	    INSERT INTO tb_user_role (userid,roleid) 
                   VALUES (#{userId},#{roleId})  
	</insert>
	<delete id="delUserRoleByUserId">
	    delete from tb_user_role where userid = #{userId}
	</delete>
</mapper>